<p style="color: green"><%= notice %></p>

<h1>Merchants</h1>

<div id="merchants">
  <% @merchants.take(3).each do |merchant| %>
    <p>
      <%= link_to "#{merchant.name}", merchant_path(merchant.id) %>
    </p>
  <% end %>
</div>

