<p style="color: green"><%= notice %></p>

<h1>Merchant Items</h1>

<div id="merchants-items">
  <% @items.take(3).each do |item| %>
    <p>
      <li>Name: <%= item.name %></li>
      <li>Description: <%= item.description %></li>
      <li>Price: <%= item.unit_price %></li><br>
    </p>
  <% end %>
</div>

